<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<script th:replace="fragments/header :: headerElement"></script>
<head>
	<style>
		table, th, td{
			border: 1px solid black;
		}
		th {
  			text-align: center;
		}
		td {
			text-indent: 5px;
		}
	</style>
  <title>LeaveSystem Dashboard</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
  <h1>LeaveSystem Dashboard</h1>
  <div class="jumbotron">
  	<!-- modal invoking buttons -->
  	<div class="row">
  		<div class="col-1-5">
  			<button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#newLeaveRequest">
  				New Leave request
  			</button>
  			<p></p>
  			<button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#leaveRequestHistory">
  				View request history
  			</button>
  		</div>
  	</div>
  </div>
  <!-- Modal 1 - New Leave Request -->
  <div class="modal fade" id="newLeaveRequest">
  	<div class="modal-dialog modal-dialog-centered">
  		<div class="modal-content">
  			<!-- Modal Header -->
      		<div class="modal-header">
        		<h5 class="modal-title">New Leave Request</h5>
        		<button type="button" class="close" data-dismiss="modal">&times;</button>
      		</div>
      		<!-- Modal body -->
      		<div class="modal-body">
   				<form action="" th:object="${request}" method='POST' class="needs-validation" novalidate>
   				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
   					<p th:utext="'Employee: ' + ${user.firstName} + ' ' + ${user.lastName} + '&lt;br /&gt;Position: ' + ${user.position}"/>
   					<div class="form-group">
   						<label for="inputLeaveType">Leave Type*</label>
   						<select class="form-control" id="inputLeaveType" th:field="*{leaveType}">
   							<option th:each="eachType : ${leaveTypeList}" th:value="${eachType.id}" th:utext="${eachType.type}"/>
   						</select>
   					</div>
   					<div class="form-group">
   						<label for="inputDateFrom">From date*</label>
   						<input type="date" class="form-control" id="inputDateFrom" required th:field="*{date_from}">
   					</div>
   					<div class="form-group">
   						<label for="inputDateTo">To date*</label>
   						<input type="date" class="form-control" id="inputDateTo" required th:field="*{date_to}">
   					</div>
   					<div class="form-group">
   						<label for="inputStandin">Stand-in*</label>
   						<input type="text" class="form-control" id="inputStandin" required th:field="*{standin}">
   					</div>
   					<div class="form-group">
   						<label for="inputEmployeeComment">Comment</label>
   						<textarea class="form-control" id="inputEmployeeComment" rows="3" th:field="*{employeeComment}">
   						</textarea>
   					</div>
   					<div>
   						<p><i>*Required</i></p>
   					</div>
   					<div class="text-center">
	   					<button type="reset" class="btn btn-outline-danger">Reset</button>
	   					<button type="submit" class="btn btn-success">Submit</button>
					</div>
   				</form>
      		</div>
  		</div>
  	</div>
  </div>
  <!-- Modal 2 - Leave Request History-->
  <div class="modal fade" id="leaveRequestHistory">
  	<div class="modal-dialog modal-dialog-centered modal-xl">
  		<div class="modal-content">
  			<!-- Modal Header -->
      		<div class="modal-header">
        		<h4 class="modal-title">Leave Request History</h4>
        		<button type="button" class="close" data-dismiss="modal">&times;</button>
      		</div>
      		<!-- Modal body -->
      		<div class="modal-body">
      			<p th:utext="'Employee: ' + ${user.firstName} + ' ' + ${user.lastName} + '&lt;br /&gt;Position: ' + ${user.position}"/>
        		<table style="width:100%">
        			<thead>
        				<tr>
        					<th>Submitted</th>
        					<th>Type</th>
        					<th>From</th>
        					<th>To</th>
        					<th>Stand-in</th>
        					<th>Status</th>
        					<th>Comments</th>
        					<th>Manager comments</th>
        				</tr>
        			</thead>
        			<tbody>
        				<tr th:if="${thisUserRequestList.empty}">
        					<td colspan="8"> No previous requests found</td>
        				</tr>
        				<tr th:each="requestInstance : ${thisUserRequestList}">
        					<td><span th:text="${#dates.format(requestInstance.created, 'dd-MM-yyyy / HH:mm')}"></span></td>
        					<td><span th:text="${requestInstance.leaveType.type}"></span></td>
        					<td><span th:text="${requestInstance.date_from}"></span></td>
        					<td><span th:text="${requestInstance.date_to}"></span></td>
        					<td><span th:text="${requestInstance.standin}"></span></td>
        					<td><span th:text="${requestInstance.status}"></span></td>
        					<td><span th:text="${requestInstance.employeeComment}"></span></td>
        					<td><span th:text="${requestInstance.managerComment}"></span></td>
        				</tr>
        			</tbody>
        		</table>
      		</div>
  		</div>
  	</div>
  </div>
  
</body>
</html>