<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<script th:replace="fragments/header :: headerElement"></script>

<head>
<title>Leave System Add User</title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link type='text/css' rel="stylesheet" href="css/main.css" />
</head>
<body>
  <div th:replace="fragments/header :: header"></div>

    <div class="row">
      <div class="col">
          </div>
          <form action="" th:object="${user}" method='POST' class="customform" style="margin-top: 3em;">
          <p class="title">Add New User</p>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="form-row p-3 mb-2 bg-white text-dark" style="margin-top: -0.5em;">

              <div class="col">
                <label>First name</label>
                <input type="text" class="form-control" th:field="*{firstName}" autofocus> 
                <span th:errors="*{firstName}" class="error text-danger"></span>

              </div>
              <div class="col">
                <label>Middle name</label>
                <input type="text" class="form-control" th:field="${user.middleName}">
                <span th:errors="*{middleName}" class="error text-danger"></span>
              </div>
              
              <div class="col">
                <label>Last name</label>
                <div class="input-group">
                  <input type="text" class="form-control" th:field="${user.lastName}">
                  <span th:errors="*{lastName}" class="error text-danger"></span>
                </div>
              </div>
            </div>

            <div class="form-row p-3 mb-2 bg-white text-dark" style="margin-top: -2em;">
              <div class="col">
                <label>Email</label> 
                <input type="text" class="form-control" th:field="${user.email}">
                <span th:errors="*{email}" class="error text-danger"></span>
              </div>

              <div class="col">
                <label>Username</label> 
                <input type="text" class="form-control" th:field="${user.username}">
                <span th:errors="*{username}" class="error text-danger"></span>
              </div>

              <div class="col">
                <label>Initial Password</label> 
                <input type="password" class="form-control" th:field="${user.password}">
                <span th:errors="*{password}" class="error text-danger"></span>
              </div>
            </div>

            <div class="form-row p-3 mb-2 bg-white text-dark" style="margin-top: -2em;">
              <div class="col">
                <label>Position</label> 
                <input type="text" class="form-control" th:field="${user.position}">
                <span th:errors="*{position}" class="error text-danger"></span>
              </div>
              
              <div class="col">
                <label>Total Paid Leave Days</label> 
                <input type="text" class="form-control" th:field="${user.paidLeaveDaysLeft}">
                <span th:errors="*{paidLeaveDaysLeft}" class="error text-danger"></span>
              </div>
            </div>
            
            <div class="form-row p-3 mb-2 bg-white text-dark" style="margin-top: -2em;">
            
              <div class="col">
                <label>Manager</label>
                <div class="select">
             
                  <select th:field="*{manager}">
                    <option value="" hidden>Select Manager...</option>
                    <option th:each="user : ${managers}" th:value="${user.id}" th:utext="${user.firstName}+' '+${user.lastName} + ' (' +${user.position} +')'" th:selected="${user.manager}" />
                  </select>
                <div class="select__arrow"></div>
              </div>
</div>
              <div class="col">
                <label>Role</label>
                <div class="select">

                  <select th:field="*{role}">
                    <option value="" hidden>Select Role...</option>
                    <option value="User" th:selected="${user.role}">User</option>
                    <option value="Manager" th:selected="${user.role}">Manager</option>
                    <option value="Admin" th:selected="${user.role}">System Admin</option>
                  </select>
                  <div class="select__arrow"></div>
                </div>
              </div>
            
            </div>

      <div class="form-row p-3 mb-2 bg-white text-dark">
        <div class="col">

          <button>
            <i class="spinner" type="submit"></i><span class="state">Save Changes</span>
          </button>
        </div>

        <div class="col">
          <a href="/admin-dashboard">Cancel</a>
        </div>
      </div>
    </form>
          
          
          <div class="col">
            
          </div>
        </div>




</body>
</html>