<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<script th:replace="fragments/header :: headerElement"></script>
<title>LeaveSystem Login</title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link type='text/css' rel="stylesheet" href="css/main.css" />

</head>
<body>
<!--   <div th:replace="fragments/header :: header"></div> -->
  <div class="wrapper">
    <form action="" method="post" class="customform" style="margin-top: -7em; max-width: 320px">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      
      <p class="title">Log in</p>
      <input type="text" class="form-control" id="username" name="username" placeholder="Username" autofocus /> <i class="fa fa-user" style="margin-top: -38px;"></i> 
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" /> <i class="fa fa-key" style="margin-top: -38px;"></i>
      <button>
        <i class="spinner"></i> <span class="state">Log in</span>
      </button>
    </form>

  </div>

</body>
</html>